.storybook-button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  border-width: 1px;
  border-radius: 9999px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  font-size: 1rem;
  line-height:1.5rem;
  min-width:374px;
  height:4rem;
}
.storybook-button--primary {
  color: white;
  background-color: #000000;
}
.storybook-button--secondary {
  color: #000;
  background-color: white;
  border-color: #C5CFDC;
}